<h1><%= @user.name %></h1>
<p>Email: <%= @user.email %></p>
<p><%= link_to 'Edit', edit_user_registration_path %></p>
<p><%= link_to 'List of Users', users_path %></p>
<h3><%= @user.name %>'s Subdomains</h3>
<table>
<% @user.subdomains.each do |subdomain| %>
  <tr>
    <td><%= link_to subdomain.name, [@user, subdomain] %></td>
    <td><%= link_to 'Edit', edit_user_subdomain_url(@user, subdomain) %></td>
    <td><%= link_to 'Destroy', [@user, subdomain], :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to "Visit #{root_url(subdomain: subdomain.name)}", root_url(subdomain: subdomain.name) %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to "Add New Subdomain", new_user_subdomain_url(@user) %>
